/* Esructura General */
body {
    font-family: Arial, sans-serif;
    background-color: #bbb;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Container General */
.general-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 90%;
    max-width: 1700px;
    padding: 20px;
}


/* Subtitulos */
h2,
h3,
h4 {
    color: #333;
}



/* Header */
header {
    background-color: #1a1a1a;
    color: #fff;
    padding: 20px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

header h1 {
    font-size: 40px;

}


/* Barra del Navegador */
#principal-nav {
    width: 100%;
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
    border-top: 2px solid #ccc;
}

#principal-nav ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
    justify-content: space-between;
}

#principal-nav li {
    flex: 1;
    text-align: center;

}

#principal-nav .nav-link {
    display: block;
    padding: 12px 20px;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    background-color: #757678;
    border-radius: 5px;
}

#principal-nav .nav-link:hover {
    background-color: #fbfdff;
    color: #000000;
}


/* Main Principal */
main {
    flex: 2;
    padding: 20px;
    max-width: 70%;
    min-width: 400px;
}


/* Main Proyectos y Clientes */
#main {
    flex: 3;
    padding: 20px;
    max-width: 70%;
    min-width: 400px;
}


/* Aside Generico */
#asidebar-lista,
#right-side {
    display: flex;
    flex: 1;
    padding: 20px;
}

/* Aside Izquierda */
#asidebar-lista {
    display: flex;
    flex-direction: column;
    max-width: 350px;
}


#asidebar-lista h2 {
    margin-bottom: 10px;
}


#asidebar-lista ul li {
    margin-bottom: 25px;
}

#asidebar-lista a {
    color: #000000;
    font-size: 18px;
}

#asidebar-lista a:hover {
    color: #ffffff;
}


/* Aside Derecha */
#right-side-principal,
#right-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    max-width: 350px;
    min-width: 300px;
    height: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


/* Imagen aside */
.aside-img {
    width: 100%;
    max-width: 250px;
    margin-bottom: 10px;
    border-radius: 10px;
}


/* Imagen aside pagina Principal */
.aside-img-principal {
    width: 100%;
    max-width: 250px;
    margin-bottom: 10px;
    border-radius: 10px;
}


/* Sections dentro Main */
.principal-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: justify;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-top: 5px;
    padding-bottom: 25px;
}




/* Listas */
.principal-section ol,
.principal-section ul {
    margin-left: 5px;
    display: flex;
    flex-direction: column;
}

.principal-section ol li,
.principal-section ul li {
    margin-bottom: 10px;
}

.principal-section h4 {
    font-size: 22px;
    margin-bottom: 5px;
}


/* Tablas */
table {
    width: 80%;
    max-width: 900px;
    margin-top: 10px;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    background: #ffffff;
    border-radius: 10px;
}


th,
td {
    border: 1px solid #fafafa;
    padding: 12px;
    text-align: center;
}

th {
    background-color: #9e9c9c;
}


tr:hover {
    background-color: #009494;
}

td:hover {
    color: #ffffff;
}


/* Footer */
footer {
    background-color: #222;
    color: #fff;
    text-align: center;
    width: 100%;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
}

.footer-info,
.footer-links,
.footer-media {
    flex: 1;
    min-width: 250px;
    padding: 10px;
}

.footer-links {
    text-align: left;
}

.footer-info {
    text-align: center;
}

.footer-media {
    text-align: right;
}

.footer-info h3,
.footer-links h3,
.footer-media h3 {
    color: #bbb;
    font-size: 20px;
    margin-bottom: 10px;
}


.footer-info ul,
.footer-links ul,
.footer-media ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

}


.footer-info li,
.footer-links li,
.footer-media li {
    margin-bottom: 8px;
}

.footer-links a {
    color: #00d4ff;
    text-decoration: none;
}

.footer-links a:hover {
    color: #ffcc00;
}

.footer-media a {
    color: #ff5733;
}

.footer-media a:hover {
    color: #33ff57;
}

.footer-bottom {
    background-color: #111;
    padding: 15px 0;
    font-size: 16px;
    color: #bbb;
    width: 100%;
}

/* Formulario */
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
}

form {
    color: #fff;
    background-color: #6b6b68;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 1200px;
    margin: 5px;
    display: flex;
    flex-direction: column;
}

#mainform {
    display: flex;
    width: 1000px;
    max-width: 100%;
}

/* Estilos para fieldset y legend */
fieldset {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 5px;
}

legend {
    font-weight: bold;
    font-size: 20px;
}

/* Estilos para labels */
label {
    font-size: 18px;
    display: block;
    margin-bottom: 5px;
}

/* Estilos para Campos de Inserción */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 18px;
    box-sizing: border-box;
}

/* Estilos Botones */
input[type="radio"],
input[type="checkbox"] {
    margin-right: 5px;
}

input[type="submit"] {
    background-color: #0073e6;
    color: white;
    font-size: 18px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

input[type="submit"]:hover {
    background-color: #005bb5;
}

/* Diseño responsive */

@media (max-width: 1100px) {

    /* General */
    .general-container {
        flex-direction: column;
        align-items: center;
        padding: 20px;
        box-sizing: border-box;
    }

    /* Asides */
    #asidebar-lista,
    #right-side,
    #right-side-principal {
        display: flex;
        flex: 1;
        padding: 20px;
        max-width: 100%;
        margin-bottom: 20px;
        box-sizing: border-box;
    }

    /* Mains */
    #main {
        flex: 3;
        width: 100%;
        margin-bottom: 20px;
        box-sizing: border-box;
    }

    main {
        flex: 2;
        width: 100%;
        margin-bottom: 20px;
        box-sizing: border-box;
    }

    /* Header */
    header {
        padding: 15px;
        text-align: center;
    }

    header h1 {
        font-size: 28px;
        margin: 0;
    }

    /* Nav */
    #principal-nav ul {
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    #principal-nav li {
        margin: 5px 0;
    }

    #principal-nav .nav-link {
        width: auto;
        padding: 5px 10px;
    }

    /* Footer */
    .footer-container {
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
    }

    .footer-info,
    .footer-links,
    .footer-media {
        text-align: center;
        margin-bottom: 15px;
        flex: none;
        min-width: 100%;
    }

    /* Tablas */
    table {
        width: 100%;
        max-width: none;
        margin-top: 10px;
    }

    th,
    td {
        padding: 8px;
    }

    /* Formulario */
    form {
        max-width: 100%;
        padding: 20px;
        box-sizing: border-box;
    }

    input[type="submit"] {
        width: 100%;
        padding: 12px;
        background-color: #0073e6;
        color: white;
    }

    input[type="submit"]:hover {
        background-color: #005bb5;
    }

    #mainform {
        display: flex;
        width: 100%;
        max-width: 450px;
        margin: 0 auto;
        box-sizing: border-box;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="tel"],
    select,
    textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
        box-sizing: border-box;
    }

    label {
        font-size: 16px;
        margin-bottom: 8px;
    }

    .footer-bottom p {
        font-size: 12px;
        text-align: center;
        margin-top: 15px;
    }
}




/* Responsive pequeño */
@media (max-width: 900px) {

    /* General */
    body {
        font-size: 14px;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    .general-container {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    /* Header */
    header h1 {
        font-size: 26px;
        margin: 0;
        text-align: center;
    }

    /* Navegación */
    #principal-nav ul {
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin: 0;
        list-style-type: none;
    }

    #principal-nav li {
        margin: 10px 0;
    }

    #principal-nav .nav-link {
        padding: 8px 16px;
        font-size: 16px;
    }

    /* Mains */

    #main {
        flex: 3;
        width: 100%;
        margin-bottom: 20px;
        box-sizing: border-box;
    }

    main {
        flex: 2;
        width: 100%;
        margin-bottom: 20px;
        box-sizing: border-box;
    }

    /* Formulario */
    form {
        width: 100%;
        max-width: 800px;
        padding: 20px;
        margin: 0 auto;
        box-sizing: border-box;
    }

    input[type="submit"] {
        width: 100%;
        padding: 14px;
        background-color: #0073e6;
        color: white;
        font-size: 18px;
        border: none;
        border-radius: 5px;
        transition: background-color 0.3s;
    }

    input[type="submit"]:hover {
        background-color: #005bb5;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="tel"],
    select,
    textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
        box-sizing: border-box;
    }

    label {
        font-size: 16px;
        margin-bottom: 8px;
    }

    /* Footer */
    .footer-container {
        flex-direction: column;
        align-items: center;
        padding: 20px;
        text-align: center;
    }

    .footer-info,
    .footer-links,
    .footer-media {
        margin-bottom: 20px;
        flex: none;
        min-width: 100%;
    }

    .footer-links ul,
    .footer-info ul,
    .footer-media ul {
        list-style: none;
        padding: 0;
    }

    .footer-links a,
    .footer-info p,
    .footer-media a {
        font-size: 14px;
        color: #0073e6;
        text-decoration: none;
    }

    .footer-bottom p {
        font-size: 12px;
        margin-top: 10px;
    }

    /*Tablas */
    table {
        width: 80%;
        margin-top: 10px;
        box-sizing: border-box;
    }

    th,
    td {
        padding: 10px;
        font-size: 14px;
    }
}